

<body>
	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">新規会員の登録</h2>
			 <p class="text-center">
			 ご登録完了後、ご入力いただいたメールアドレスに、ご登録の確認メールをお送りします。(ご登録前にメールの受信設定のご確認をお願いします)
			</p>
 			<hr>
			<div class="row">
				<div class="col-md-5">
				<%= form_with model: @user, url: signup_path do |form| %>
						<fieldset>
							<p class="text-uppercase pull-center"> 会員情報 </p>

							<% if @user.errors.any? %>
							<div class = "alert">
							  <ul>
								<% @user.errors.full_messages.each do |message| %>
									<% logger.debug(message) %>
								  <li><%= message %></li>
								<% end %>
							  </ul>
							</div>
						  <% end %>

 							<div class="form-group">
							    <%= form.label :お名前 %>
							    <%= form.text_field :name, class: "form-control mb-3" %>
							</div>

							<div class="form-group">
							   <%= form.label :お名前（フリガナ） %>
							   <%= form.text_field :name_kana, class: "form-control mb-3" %>
						    </div>

							<div class="form-group">
							   <%= form.label :メールアドレス %>
							   <%= form.text_field :email, class: "form-control mb-3" %>
						    </div>

							<div class="form-group">
							    <%= form.label :パスワード %>
                                <%= form.password_field :password, class: "form-control mb-3"  %>
							</div>

							<div class="form-group">
							    <%= form.label :電話番号 %>
							    <%= form.text_field :phone_number, class: "form-control mb-3" %>
							</div>

							<div class="form-group">
							    <%= form.label :郵便番号 %>
							    <%= form.text_field :zip_code, class: "form-control mb-3" %>
							</div>

							<div class="form-group">
							    <%= form.label :住所 %>
							    <%= form.text_field :address, class: "form-control mb-3" %>
							</div>

							<div class="form-check">
								<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								  注意事項・利用規約・プライバシーポリシーにご同意の上、確認画面へお進みください。
								</label>
							</div>

							<%= form.submit "登録", class:'btn btn-lg btn-primary mt-4' %>

						</fieldset>
						<% end %>
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				

			</div>
		</div>
		<p class="text-center mt-5">
        既にアカウント作成済の方は<a href="http://localhost:3000/login">こちら</a>からログインをお願いします。
        </p>
		<p class="text-center mt-5">
		・このページでご入力いただいた情報は、TLSで保護され 送信されます。一部ブラウザや携帯電話端末からは弊社 の一部ページにアクセスいただけません。ご了承ください。
		</p>
	</div>
	</body>